.main
  .main__header
    .main__header__left
      .main__header__left__current-group
        = @group.name
      .main__header__left__member-list
        Member：
        %ul
          - @group.users.each do |user|
            %li= user.name
    .main__header__edit-btn
      = link_to edit_group_path(@group.id) do
        Edit

  .contents
    = render @messages

  .footer
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :content, class: 'input__text', placeholder: 'type a message'
        = f.label :image, class: 'input__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input__image__file'
      = f.submit 'Send', class: 'submit-btn'
